.plate-generator {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "plates header symbols"
    "plates main symbols";
}

.plate-generator__plates {
  grid-area: plates;
}

.plate-generator__header {
  grid-area: header;
}

.plate-generator__symbols {
  grid-area: symbols;
}

.plate-generator__main {
  grid-area: main;
}
